nav{
    background-color: aqua;
    margin-top: 10px;
    position: sticky;
    top: 0;
}
div{
    width: 100px;
    height:20px;
    display: inline-block;
    margin: 10px;
    
}
p{
    font-size: 1000px;
}

a{
    text-decoration: none;
    color: rgb(105, 106, 106);
}