.imageContainer{
    border: 1px solid black;
    height: 500px;
    width: 500px;
}
.imageContainer>img{
    height: 500px;
    width: 500px;
}

.imageList{
    display: flex;
    justify-content: center;
}

.imageList>img{
    width: 300px;
    height: 300px;
    margin: 25px;
    transition: transform .2s;
}
.imageList>img:hover{
    transform: scale(1.1);
}
